<div class="modal">
  <div class="modal-background"></div>
  <section class="modal-content">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Descricao tipo:</strong>
      <%= @tipo.descricao_tipo %>
    </p>

    <%= link_to 'Edit', edit_tipo_path(@tipo), remote: true, class: "button is-rounded" %> |
    <%= render "compartilhadas/back_button" %>

  </section>
  <%= render "compartilhadas/close_button" %>
</div>

<%= render "compartilhadas/js-modal-close" %>