<h1 class="title">Tecnicos</h1>
<%= render "busca_form_tecnicos" %>
<div class="table-container">
  <table class="table is-narrow is-fullwidth">
    <thead>
    <tr>
      <th>Usuario</th>
      <th>Admin</th>
      <th class="is-narrow">Exibir</th>
      <th class="is-narrow">Editar</th>
      <th class="is-narrow">Excluir</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="5"><%= render "compartilhadas/paginacao" %></th>
    </tr>
    </tfoot>

    <tbody>
    <% if @tecnicos.empty? %>
      <%= render "compartilhadas/corpo-vazio-tabela", qtd_elementos: @tecnicos.size %>
    <% else %>
      <% @tecnicos.each do |tecnico| %>
        <tr>
          <td><%= tecnico.usuario.nome.concat(" ",tecnico.usuario.sobrenome) %></td>
          <% if tecnico.admin? %>
            <td>Sim</td>
          <% else %>
            <td>Não</td>
          <% end %>
          <td><%= link_to '', tecnico, remote: true, class: "icon fa fa-search-plus" %></td>
          <td><%= link_to '', edit_tecnico_path(tecnico), remote: true, class: "icon fa fa-pencil-square" %></td>
          <td><%= link_to '', tecnico, method: :delete, data: {confirm: 'Are you sure?'}, class: "icon fa fa-close" %></td>
        </tr>
      <% end %>
      <%= render "compartilhadas/corpo-vazio-tabela", qtd_elementos: @tecnicos.size %>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Novo Tecnico', new_tecnico_path, class: "button is-rounded bt-index", remote: true %>

<%= render "compartilhadas/popup" %>