<div class="modal">
  <div class="modal-background"></div>
  <section class="modal-content">
    <h1 class="title">Editando Ativo</h1>

    <%= render 'form', ativo: @ativo %>

    <%= link_to 'Show', @ativo, remote: true , class: "button is-rounded"%> |
    <%= render "compartilhadas/back_button" %>
  </section>
  <%= render "compartilhadas/close_button" %>
</div>
<%= render "compartilhadas/js-modal-close" %>
